body {
   font-family:  Courier, monospace !important;
}

.btn{
   cursor: pointer;
   background: rgb(182, 0, 0);
   padding: 15px;
   color:white; 
   display: inline-block;
}

b{
   font-size: 18px;
   background: #ccc;
   padding: 5px;
}
